.card-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50%;
  margin-top: 30px;
  transform: translate(-50%, 0%);
  width: 750px;
  div {
    justify-content: center;
    flex: 1;
    padding: 2px;
    div {
      img {
        height: 100px;
        width: 80px;
      }
    }
  }
  div {
    .btn-purchase {
      position: fixed;
      height: 6rem;
      width: 20%;
      font-size: 3rem;
      top: 24rem;
    }
    .left {
      left: 15%;
      transform: translate(-50%, -50%);
    }
    .right {
      right: 15%;
      transform: translate(50%, -50%);
    }
  }
}
