.card-container {
  padding: 4px;
  .card-info {
  }
  div {
    .btn-purchase {
      position: fixed;
      height: 11%;
      width: 20%;
      font-size: 3rem;
      top: 50%;
    }
    .left {
      left: 15%;
      transform: translate(-50%, -50%);
    }
    .right {
      right: 15%;
      transform: translate(50%, -50%);
    }
  }
}
